*{
    margin: 0;
    padding: 0;
}
/* HEADER AREA STYLE START */
.header_area{
    padding-top: 15px;
}
.header_area img{
    width: 260px;
    height: 80px;
}
.slicknav_menu {
  display: none;
}
.menu_bar nav ul {
    list-style: none;
    margin-top: 16px;
  }
  .menu_bar nav ul li {
    display: inline-block;
    padding: 0px 10px;
  }
  .menu_bar nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
  }
  .menu_bar ul li{
    position: relative;
  }
.menu_bar ul li ul{
  position:absolute;
  top: 40%;
  left: 0;
  width: 180px;
  z-index: 1;
}
/* MENU HOVER PART START */
.menu_bar ul li ul{
  opacity: 0;
  visibility: hidden;  
  transition: 0.4s;
}
.menu_bar ul li ul li a{
  color: midnightblue;
}
.menu_bar ul li:hover ul{
  opacity: 1;
  visibility: visible;
}

/* MENU HOVER PART END */

.menu_sicon_search{
    background-color: aliceblue;
    padding-bottom: 10px;
  }
.social_icons ul {
    list-style: none;
    text-align: right;
    margin-top: 15px;
  }
  .social_icons ul li {
    display: inline-block;
    padding: 0px 3px;
    font-size: 20px;
  }  
.search_box {
    margin-top: 15px;
    text-align: center;
    position: relative;
  }
  .search_box input[type=search] {
    height: 35px;
    padding: 10px;
  }
  .sbox input[type="search"]:focus {
    outline: none;
  }
  .search_box input[type=submit]{
    background: url(../img/submit.png) no-repeat center;
    height: 30px;
    width: 30px;    
    border: none;
    z-index: 0;
  }
  .sicon {
    position: absolute;
    right: 25px;
    top: 2px;
  }
/* HEADER AREA STYLE END */

/* BANNAR SECTION STYLE START */
.bannar_area{
  background-image: url(../img/bannar.jpg);
  padding: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.bannar_area::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
/* BANNAR SECTION STYLE END */

/* SHERPUR DETAILS ASREA STYLE START  */
.our_details{
  padding: 80px 0px;
  background: hsl(180, 100%, 97%,0.8);
}
.container {
  padding: 0px;
}
.arae_dtails img{
  width: 100%;
  height: 250px;
}
.arae_dtails {
  margin-top: 15px;
}
.arae_dtails a {
  text-decoration: none;
  color: #000;
}
.arae_dtails a h3 {
  margin-top: 15px;
}
.twplc{
  margin-top: 15px;
}
.twplc h4 {
  text-align: center;
  font-style: italic;
}
.twm_pic {
  margin-top: 12px;
}
.spacial img{
  width: 90%;
  height: 180px;
  margin: auto;
}
.spacial h3 {
  margin-top: 10px;
}
.soundless {
  margin-top: 15px;
}
.soundless ul {
  list-style: none;
  margin-top: 20px;
}

/* SHERPUR DETAILS ASREA STYLE END  */


/* SLIDER AREA STYLE START  */
.slider_single_item img {
  height: 200px;
  width: 23%;
}
.area_slider{
  position: relative;
}
.owl-prev {
  position: absolute;
  top: 96px;
  left: 10px;
  background: #dbd7d7 !important;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.owl-next {
  position: absolute;
  top: 96px;
  right: 10px;
  background: #dbd7d7 !important;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* SLIDER AREA STYLE END  */

/* FOOTER AREA STYLE START  */
.footer {
  padding: 10px;
  background: dimgray;
}
.footer_text p{
  margin-bottom: 0px;
  font-size: 30px;
  color: #fff;
}
/* FOOTER AREA STYLE END  */